
<div class="primary-footer container">
  <nav class="footer-nav">
    <address>
      1434 Spruce St<br>
      Boulder CO 80302<br>
    </address>
  </nav>
  <address>
    <a href="tel:720-504-7467">720-504-7467</a><br>
    <a href="mailto:sales@saettalabs.com">sales@saettalabs.com</a>
  </address>
  <div>
    &copy; 2023{% if site.copyright != "2023" %}{{ site.copyright | prepend: "-" }}{% endif %} {{ meta.seo_title }}
  </div>
</div>
