---
layout: base
---
  
<section class="section section--home pattern-bg">
  <div class="container">
    <article class="home-hero">
      <img class="fade-in-left" src="{{ hero_image }}" width="1036" height="674" alt="">
      <hgroup class="fade-in-right">
        <h1 style="font-size:2rem;margin-bottom:0.25rem">
          {{ hero_heading }}
        </h1>
        <p>
          {{ hero_subheading }}
        </p>
        <div class="homepage-ctas">
          <a href="/library/" class="btn btn--secondary">
            Publications
            <svg>
              <use xlink:href='#r-arrow' />
            </svg>
          </a>
          <a href="/products/" class="btn btn--primary">
            Datasheets
            <svg>
              <use xlink:href='#r-arrow' />
            </svg>
          </a>
        </div>
      </hgroup>
    </article>
  </div>
</section>

<section class="section home-about">
  <div class="container container--squeezed">
    <div class="about-decor">
      <svg>
        <use xlink:href='#bolt' />
      </svg>
    </div>
    <article class="flow-content">
      {{ about_blurb | markdownify }}
      <div class="readmore">
        <a href="/about/">
          <span>
            Read more
          </span>
          <svg>
            <use xlink:href='#r-arrow' />
          </svg>
        </a>
      </div>
    </article>
  </div>
</section>
