---
layout: base
---

<div class="container container--squeezed section">
  <h1 style="margin-bottom:1rem;">
    {{ title }}
  </h1>
  <article class="flow-content">
    {{ content }}
  </article>
</div>
