---
permalink: /
title: Foo
---

<section class="full-width bg-hero">
  <h1>
    Sapphire Loaded Cavity Oscillators
  </h1>
  {% comment %} <svg>
    <use xlink:href='#menu' />
  </svg> {% endcomment %}
</section>
