---
permalink: /library/index.html
title: Library
---

<section class="content-grid">
  <h2>
    {{ librarypage.page_heading}}
  </h2>

  <h3>
    Founder Publications
  </h3>

  <ol>
    {% for publication in librarypage.publications %}
      <li>
        {{ publication.entry }}
      </li>
    {% endfor %}
  </ol>

</section>
