---
permalink: /products/index.html
title: Products
---

<section class="section">
  <div class="container spacing spacing--products">
    {% for product in productspage.products %}
      <div class="even-columns even-columns--{% cycle 'default', 'reversed' %}">
        <figure class="slide-in from-{% cycle 'right', 'left' %}">
          <img src="{{ product.photo }}">
        </figure>
        <article class="slide-in from-{% cycle 'right', 'left' %} flow-content">
          <h2>
            {{ product.title }}
          </h2>
          {{ product.description | markdownify }}
          <div class="readmore">
            <a href="">
              Datasheet
              <svg>
                <use xlink:href='#r-arrow' />
              </svg>
            </a>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
</section>
